/* RESET  */
*{margin: 0; padding: 0; border: 0; vertical-align: baseline;}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
header{
    background-color: #01183b;
}
.margin-70 {
  margin-top: 70px;
}
.nav-link{ color: #FFFFFF; font-weight: bold; }
.nav-link:hover{ color: #EFA300; transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear; 
}
.owl-carousel, .owl-stage-outer{height: 466px; position: relative;}
.back-form {z-index: 3; height: 63px; background: rgba(255, 255, 255, 0.8); -webkit-clip-path: -webkit-clip-path: polygon(13% 1%, 87% 0, 100% 100%, 0 100%);
  clip-path: polygon(13% 1%, 87% 0, 100% 100%, 0 100%); position: relative; top: -62px;}

  .form-control{text-align: center; color: #ea9007 !important; font-weight: bold; border-radius: 0.75rem !important; border: 3px solid #01183b !important; background-color: transparent !important}
  .btn-primary {
    color: #ea9007 !important;
    background-color: transparent !important;
    border: 3px solid #01183b !important;
    border-radius: 0.75rem !important;
}
.formBusca{ margin-left: 130px; margin-top: 10px;}

.titulo-header{ text-align: center; text-transform: uppercase; color: #01183b;}
.titulo-header h2.titulo { position: relative;}
h2.titulo:before {
  width: 70px;
  height: 5px;
  margin-left: -43px;
  margin-top: 18px;
}
  h2.titulo:after, h2.titulo:before {
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
    background-color: #01183b;
}
/*---///---///---///---///---///---///---///---///---///---
    08. PROPERTY CSS START
---///---///---///---///---///---///---///---///---///---*/
.propriedades-sec{
  padding: 100px 0 70px;
}

.at-property-sec {
  padding: 100px 0 70px;
}
.at-property-img {
  position: relative;
  overflow: hidden;
}
.at-property-img .at-property-overlayer {
  position: absolute;
  bottom: -100%;
  z-index: 111;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.at-property-item:hover .at-property-img .at-property-overlayer {
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.at-property-btn {
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
  background: transparent;
  padding: 10px 22px;
  border-radius: 0;
  position: absolute;
  top: -15%;
  left: 50%;
  z-index: 222;
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.at-property-item:hover .at-property-btn {
  color: #e0e0e0;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.at-property-img h4 {
  color: #ffffff;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 0;
  background: #CC935C;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.at-property-item:hover .at-property-img h4 {
  left: -110px;
  opacity: 0;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out; 
}
.at-property-img h5 {
  color: #ffffff;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 0;
  background: #CC935C;
  position: absolute;
  left: 0;
  top: 35px;
  opacity: 1;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.at-property-item:hover .at-property-img h5 {
  left: -110px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.at-property-dis {
  padding: 10px 20px;
  background: #CC935C;
}
.at-property-dis ul li {
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
}
/*.at-property-dis li + li {
  margin-left: 12%;
}*/
.at-property-dis ul li i {
  margin-right: 5px;
  color: #ffffff;
}
.at-property-location {
  background: #F2F2F2;
  padding: 30px 20px;
}
.at-property-location h4 i {
  margin-right: 5px;
  color: #737373;
}
.at-property-location h4 a {
  color: #CC935C;
}
.at-property-location p i {
  margin-right: 5px;
  color: #737373;
}
.at-property-location p {
  text-transform: capitalize;
  color: #111111;
}
.at-property-sec .hvr-bounce-to-right {
  margin-top: 30px;
  margin-bottom: 30px;
}
.at-bg-black {
  background: #333333 !important;
}

/*********** Property right sidebar start **********/
.at-property-right-sidebar {
  
  }
  .at-pagination .pagination {
      margin-bottom: 0;
  }
  .at-pagination-right {
      text-align: right !important;
  }
  .at-pagination-left {
      text-align: left !important;
  }
  /* Sidebar start */
  .at-sidebar {
      margin-bottom: 30px;
  }
  .at-sedebar-title {
      font-size: 18px;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid #E6E6E6;
  }
  .at-sidebar-search {
      margin-bottom: 50px;
  }
  .at-sidebar-search .form-control {
      background: #f2f2f2;
      border: none;
      height: 50px;
      box-shadow: none;
      font-size: 14px;
      text-transform: uppercase;
  }
  .at-sidebar-search .input-group-btn .btn {
      border-radius: 0;
      height: 50px;
      width: 60px;
      background: #CC935C;
  }
  .at-sidebar-search .input-group-btn .btn i {
      font-size: 28px;
      color: #ffffff;
  }
  .at-sidebar-search .input-group-btn .btn:hover {
      background: #BF864F;
  }
  .at-categories {
      margin-bottom: 50px;
  }
  .at-categories ul li {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #E6E6E6;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-categories ul li:last-child {
      border-bottom: none;
  }
  .at-categories ul li:hover {
      border-color: #CC935C;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-categories ul li a {
      color: #676767;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-categories ul li:hover a {
      color: #CC935C;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-categories ul li:hover span {
      color: #CC935C;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-latest-news {
      margin-bottom: 50px;
  }
  .at-latest-news ul li {
      border-bottom: 1px solid #E6E6E6;
      margin-bottom: 20px;
      padding-bottom: 20px
  }
  .at-latest-news ul li:last-child {
      border-bottom: none;
  }
  .at-news-item {
      position: relative;
      padding-left: 100px;
  }
  .at-news-item img {
      width: 80px;
      height: 80px;
      position: absolute;
      left: 0;
      top: 0;
  }
  .at-news-item h4 {
      margin-bottom: 5px;
  }
  .at-news-item h4 a {
      color: #CC935C;
      font-size: 15px;
  }
  .at-sidebar-tags {
      margin-bottom: 50px;
  }
  .at-sidebar-tags a {
      padding: 10px 18px;
      background: transparent;
      border: 1px solid #E6E6E6;
      margin-bottom: 10px;
      margin-right: 10px;
      display: inline-block; 
      text-transform: uppercase;
      color: #676767;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-sidebar-tags a:hover {
      border-color: #CC935C;
      background: #CC935C;
      color: #ffffff;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .at-preview {
      margin-bottom: 50px;
  }